*{
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  text-decoration: none;
}
header{
  position: fixed;
  top: 0; left: 0; right: 0;
  background: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}
.navbar-nav{
  margin-left: 10px;
  padding: 5px;
}
header .navbar ul{
  list-style: none;
}
header .navbar ul li{
  position: relative;
  float: left;
  text-align: center;
}
header .navbar ul li a{
  font-size: 20px;
  padding: 20px;
  color: #333;
  display:block;
  text-align: center;
}
header .navbar ul li a:hover{
  background: #333;
  color: #fff;
}
section{
  position: relative;
  width: 100%;
  height: 105vh;
  background: -webkit-gradient(linear, left bottom, left top, from(#00b1c3), color-stop(80%, #a4d4a0));
  background: linear-gradient(0deg, #00b1c3 0%, #a4d4a0 80%);
}

#curve {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-top: -20px;
}

.banner {
  padding-top: 140px;
}

.banner .circle1 {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background: url("../images/IMG_3227.JPG") center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
  margin-top: -280px;
}

.banner .circle2 {
  height: 240px;
  width: 250px;
  border-radius: 50%;
  background: #fff;
  margin-left: 250px;
}

.banner .circle3 {
  height: 240px;
  width: 250px;
  border-radius: 50%;
  background: #fff;
  margin-bottom: -240px;
  margin-right: 250px;
}

.banner .judul .nama {
  text-shadow: 4px 2px 10px #000;
  font-size: 40px;
  color: #fff;
}

.banner .judul p {
  font-size: 20px;
  color: #fff;
  margin-top: -20px;
}
.org{
  margin-left: 100px;
  margin-top: 50px;
  width: 450px;
  height: 250px;
  background: linear-gradient(0deg, #00b1c3 0%, #a4d4a0 80%);;
  font-size: 20px;
  filter: drop-shadow(5px 5px 5px grey);
}
.orgb{
  padding: 20px;
  margin-left: 130px;
  margin-top: -200px;
  width: 450px;
  height: 250px;
  font-size: 20px;
  filter: drop-shadow(5px 5px 5px grey);
}
.org p{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 25px;
}

.lmb{
  margin-left: 700px;
  margin-top: -300px;
  width: 480px;
  height: 250px;
  background: linear-gradient(0deg, #00b1c3 0%, #a4d4a0 80%);;
  font-size: 20px;
  filter: drop-shadow(5px 5px 5px grey);
}
.lmb p{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 25px;
}
.lmbb{
  margin-left: 750px;
  margin-top: -190px;
  width: 450px;
  height: 250px;
  font-size: 20px;
  filter: drop-shadow(5px 5px 5px grey);
}

#about {
  background: #fff;
  height: auto;
  padding-bottom: 100px;
  color: #00b1c3;
  text-decoration: inherit;
  padding-left: 15px;
  font-size: 20px;

}

#pengalaman {
  background: #fff;
  height: auto;
  padding-bottom: 90px;
}
.card-body{
  padding: 10px;
  font-size: 20px;
  text-align: center;

}

#wrapper .content .title-content {
  text-align: center;
  font-size: 50px;
  color: #00b1c3;
  padding: 20px;
  padding-top: 30px;
}

#wrapper .content .right-menu .important {
  color: #00b1c3;
}

#pendidikan {
  color: #fff;
}

#pendidikan table {
  width: 95%;
  color: #fff;
  font-size: 20px;
  text-shadow: 1px 1px 0px #fff;
  text-align: center;
  border: #FFF 1px solid;
  background-color: #00b1c3;
  margin: 0 20px;
  align-items: center;
}

#pendidikan table th {
  padding:  20px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

#pendidikan table td {
  padding: 30px 30px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

#pendidikan .no {
  text-align: center;
}

footer {
  background: #00b1c3;
  text-align: center;
}

footer li {
  display: inline-block;
  padding: 10px 40px;
}

footer li p {
  color: #FFF;
  font-size: 20px;
}

footer li a {
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}

footer li a img {
  height: 25px;
  width: 25px;
}

